[Desktop Entry]
Version=1.0
Name=Qvmessocket
Type=Application
GenericName=Graphical Frontend
GenericName[zh_CN]=图形前端
GenericName[zh_TW]=圖形前端
Comment=A Cross-Platform Qt GUI Client
Comment[zh_CN]=跨平台的 Qt 图形客户端
Comment[zh_TW]=跨平臺的 Qt 圖形用戶端
Keywords=Internet;VPN;Proxy;v2ray;Qt;qv;
Keywords[zh_CN]=Internet;VPN;Proxy;v2ray;Qt;qv;代理;
Keywords[zh_TW]=Internet;VPN;Proxy;v2ray;Qt;qv;代理;
Categories=Network;Qt;
Terminal=false
Icon=qv2ray
Exec=qvmessocket %u
MimeType=x-scheme-handler/qv2ray;
Actions=debug;noPlugin;noScaleFactor;noAPI;noAutoConnection;

[Desktop Action noPlugin]
Name=Start without Plugins
Name[zh_CN]=不使用插件启动
Name[zh_TW]=不使用外掛程式啟動
Exec=qvmessocket --noPlugin

[Desktop Action noScaleFactor]
Name=Start without Scaling Factor
Name[zh_CN]=禁用界面缩放启动
Name[zh_TW]=禁用介面縮放啟動
Exec=qvmessocket --noScaleFactor

[Desktop Action noAPI]
Name=Start without gRPC API
Name[zh_CN]=不使用 gRPC API 启动
Name[zh_TW]=不使用 gRPC API 啟動
Exec=qvmessocket --noAPI

[Desktop Action noAutoConnection]
Name=Start without automatic connection
Name[zh_CN]=不自动连接节点启动
Name[zh_TW]=不自動連接節點啟動
Exec=qvmessocket --noAutoConnection

